.masthead-schedule {
  height: 78vh;
  min-height: 200px;
  background-image: url("../../images/schedule4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#masthead-text-margin {
  margin: auto;
}

.masthead-text {
  height: 12vh;
}

.time-sign-up {
  float: right;
}

.time, .sign-up-button {
  font-size: 13px;
}

.upcomingLeft {
  height: 740px;
  overflow-y: scroll;
}

.upcomingClassesTitle {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}
