.masthead-schedule {
  height: 78vh;
  min-height: 200px;
  background-image: url("../../images/schedule4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#masthead-text-margin {
  margin: auto;
}

#masthead-text-margin h1 {
  float: right;
}

.masthead-text {
  height: 12vh;
}

.time-sign-up {
  float: right;
}

.time,
.sign-up-button {
  font-size: 13px;
}

.upcomingLeft {
  height: 740px;
  overflow-y: scroll;
}

.cal_spacing {
  margin: 20px 0;
}

@media (max-width: 400px) {
  .masthead-schedule {
    height: 30vh;
  }
  #masthead-text-margin h1 {
    float: none;
    text-align: center;
  }
  .upcomingLeft {
    height: 475px;
    /* overflow: scroll; */
  }
  .bleachers {
    max-width: 100px;
    max-height: 100%;
  }
}

@media (max-width: 812px) {
  .masthead-schedule {
    height: 30vh;
  }
  #masthead-text-margin h1 {
    float: none;
    text-align: center;
  }
  .upcomingLeft {
    height: 405px;
    /* overflow: scroll; */
  }
  .cal_spacing {
    margin: 0;
  }
  .bleachers {
    max-width: 100%;
    max-height: 100%;
  }
}
