.masthead-about {
  height: 78vh;
  min-height: 200px;
  background-image: url("../../images/exercise.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#masthead-text-margin {
  margin: auto;
}

.masthead-text {
  height: 12vh;
}






.image-w-content {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
}

.icon {
  vertical-align: middle;
  fill: currentColor;
}

.image-w-content,
.icon {
  padding: 0px;
  display: flex;
  left: 50%;
  top: 50%;
  margin: -47px 0 0 -47px;
  width: 94px;
  height: 94px;
  border-radius: 50%;
  position: absolute;
  z-index: 9;
  background: white;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  align-items: center;
}
