* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  line-height: 1.5;
  color: #333333;
  overflow-x: hidden;
}

section {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
