* {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.5;
  color: #333333;
  overflow-x: hidden;
}

.v-header {
  height: 100vh;
  display: grid;
  align-items: center;
  color: #fff;
  z-index: -1;
}

.cont {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}

.fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.fullscreen-video-wrap video {
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

/* .header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
} */

.header-content,
.header-link {
  z-index: 2;
}

.header-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header-content h3 {
  font-size: 50px;
  margin-bottom: 0;
}

.button-style {
  background: white;
  color: black;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  margin: 1rem 1rem;
  margin-top: 30px;
  text-decoration: none;
  z-index: 2;
}

.rowmove {
  margin-left: 10%;
}

.text_style {
  color: black;
}

@media (max-width: 960px) {
  .cont {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

.heropanel--video {
  font-family: "Open Sans", sans-serif;
  min-height: 320px;
}

@keyframes gm-slidein {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    -webkit-transform: none;
    opacity: 1;
    transform: none;
  }
}

.heropanel__content {
  -moz-animation: gm-slidein 3s 1;
  -ms-animation: gm-slidein 3s 1;
  -o-animation: gm-slidein 3s 1;
  -webkit-animation: gm-slidein 3s 1;
  animation: gm-slidein 3s 1;
  border-bottom: 1px solid #fff;
  margin: 0 auto;
  max-width: 50%;
  padding: 4em 0 2em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.heropanel__content h1 {
  margin: 0 0 0.5em;
  margin-top: 40px;
  text-transform: uppercase;
}

.heropanel__content h1 a {
  color: #fff;
  text-decoration: none;
}

.heropanel__content p {
  color: #fff;
  margin: 0;
  text-transform: uppercase;
}

.home-photo {
  z-index: -1;
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
}

/* Mobile Query */
@media (max-width: 375px) {
  body {
    margin: 0;
    line-height: 1.5;
    color: #333333;
    overflow-x: hidden;
  }
  .v-header {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    z-index: -1;
  }

  .cont {
    max-width: 375px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
  }
  .fullscreen-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
  }
  .fullscreen-video-wrap video {
    max-width: 375px;
    overflow: hidden;
    max-height: 100%;
    z-index: -1;
  }
  h3 span {
    color: black;
  }
  span button {
    border: solid 1px grey;
  }
  .wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  .rowmove {
    margin: 0;
  }
}

@media (max-width: 600px) {
  body {
    margin: 0;
    line-height: 1.5;
    color: #333333;
    overflow-x: hidden;
  }
  .v-header {
    height: 35vh;
    display: grid;
    align-items: center;
    justify-content: center;
    color: #fff;
    z-index: -1;
  }
  .cont {
    max-width: 375px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
  }
  .fullscreen-video-wrap {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 50vh;
  }
  .fullscreen-video-wrap video {
    max-width: auto;
    overflow: hidden;
    max-height: 100%;
    z-index: -1;
  }
  .header-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    top: 73px;
  }

  .header-content h3 {
    font-size: 40px;
  }

  .text_style {
    color: black;
  }

  h3 span {
    color: black;
  }
  span button {
    border: solid 1px grey;
  }
  .button-style {
    padding: 0.5rem 1rem;
    margin: 0;
    position: relative;
    top: 36px;
  }
  .wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    position: relative;
    top: 110px;
  }
  .rowmove {
    margin: 0;
  }
}

@media (max-width: 812px) {
  .v-header {
    display: grid;
  }
  video {
    max-width: 100%;
  }
  .header-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .text_style {
    color: black;
  }
  .rowmove {
    margin-left: 0;
  }
}
