.cust-nav {
  height: 90px;
  opacity: 0.65;
}

.index {
  z-index: 3;
  font-size: 18px;
}

.text {
  font-weight: 700;
  padding: 1.4rem 2rem;
  text-transform: uppercase;
}

@media (max-width: 812px) {
  .cust-nav {
    opacity: 0.78;
    background: white !important;
    color: black;
    height: 84px;
  }

  .ham_menu {
    background: white !important;
    color: black;
    margin: 0 -16px;
  }
}

@media (max-width: 400px) {
  .cust-nav {
    opacity: 1;
    background: white !important;
  }

  .ham_menu {
    background: white !important;
    margin: 0 -16px;
  }

  .text {
    color: black;
  }
}
